# Configurações Globais
PROJECT_NAME="Price Monitor API"
API_V1_STR="/api/v1"
ENV=development # Opções: development | production

# Segurança e Autenticação
SECRET_KEY=SUPER_SECRET_KEY_CHANGE_ME_IN_PRODUCTION
ACCESS_TOKEN_EXPIRE_MINUTES=10080 # 7 dias em minutos

# Banco de Dados PostgreSQL
POSTGRES_SERVER=localhost
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_DB=price_monitor
POSTGRES_PORT=5432
# ASYNC_DATABASE_URI é montado automaticamente se omitido, mas pode ser especificado:
# ASYNC_DATABASE_URI=postgresql+asyncpg://postgres:postgres@localhost:5432/price_monitor

# Enfileirador e Fila (Redis)
REDIS_URL=redis://localhost:6379/0

# Scraping & APIs de E-commerce
SELENIUM_HUB_URL=http://localhost:4444/wd/hub
MERCADO_LIVRE_CLIENT_ID=seu_client_id_aqui
MERCADO_LIVRE_CLIENT_SECRET=seu_client_secret_aqui
